
body{background-color: rgba(0, 0, 0, 1)}

header {
    background: url('camera.jfif');
    background-size: cover;background-repeat: no-repeat;
    background-color: white;
    border-style: solid;
	border-color: rgba(255, 255, 255, 1);
}
nav{
	font-size: 20px;
}
nav a{
	float: left;
	color: white;
	text-decoration: none;
	background-color: rgba(240,240,240,0.2);
	display: block;
    width: 100px;
    height: 40px;
    padding-top: 15px;
    padding-left: 15px;
	border-radius: 5px;	
	left: 0px;

}
.active{
	background-color: #ffffff;
}
nav a:hover{
	background-color: rgba(250,0,0,0.8);color: black;
}
.righ{
	position: absolute;
	right: 20px;
	top: 40px;
	display: inline-block;
}
header h1{
	top: 100px;
	right: 300px;
	font-size: 50px;
	text-align: center;
	font-family: times roman;
    position: relative;
    color: white;

}
header pre{
	position: relative;
	text-align: center;
	font-size: 30px;
	font-family: 'Baloo Bhai', cursive;
	color: white;

}

.red{border-style: solid;
	border-color: rgba(255, 255, 255, 1);
	text-align: center;height: 100px;padding-top: 50px;
	text-transform: uppercase; background-color:  rgba(255, 100, 66, 1)
}
div{
	background-color: rgba(0, 200, 255, 0.2);border-style: solid;
	border-color: rgba(255, 255, 255, 1);
}
div img{
	box-sizing: border-box;
	display: inline-block;
	width: 300px;
	height: 300px;
	margin: 10px 50px 10px 100px;
	border-style: solid;
	border-width: 5px;
	border-radius: 10px;
	border-color: red;
	
}